<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQmZ4gR4X97p-EfQTEUusAMQa7JAeqGs8</string>
	<key>GCM_SENDER_ID</key>
	<string>146760199274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutrilog</string>
	<key>PROJECT_ID</key>
	<string>nutrilog-316a5</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrilog-316a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146760199274:ios:0f6d4009dc129d725f6e13</string>
</dict>
</plist>